html .mceContentBody {
	max-width: 600px;
}

body {
	background-color: #333;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 1.5;
}

/* Headings */
h1,h2,h3,h4,h5,h6 {
	clear: both;
	font-weight: bold;
	margin: 1.5em 0;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 21px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	font-style: italic;
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	color: #333;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 12px;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}
code, kbd, tt, var {
	font: 12px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	color: #333;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	border-collapse: collapse;
	margin: 0 0 1.5em;
	width: 100%;
}
td {
	border-bottom: 1px solid #666;
	color: #fff;
	font-size: 13px;
	padding: 7px 5px;
}
th {
	background: #f3f3f3;
	color: #333;
	font-size: 13px;
	font-weight: bold;
	padding: 7px 5px;
	text-align: left;
}
a {
	color: #f3f3f3;
	font-weight: bold;
	text-decoration: none;
}
a:visited {
	color: #f3f3f3;
	font-weight: bold;
	text-decoration: none;
}
a:hover,
a:focus,
a:active {
	color: #c4513f;
	font-weight: bold;
	text-decoration: none;
}

.alignleft {
	display: inline;
	float: left;
	margin: 1.5em 1.5em 1.5em 0;
}
.alignright {
	display: inline;
	float: right;
	margin: 1.5em 0 1.5em 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 1.5em auto;
}

/* Captions */

.wp-caption {
	background: #f3f3f3;
	border: 1px solid #ddd;
	border-radius: 3px;
	max-width: 100%;
}
.wp-caption.aligncenter,
.wp-caption.alignleft,
.wp-caption.alignright {
	margin: 1.5em 0;
}
.wp-caption.aligncenter {
	margin-left: auto;
	margin-right: auto;
}
.wp-caption.alignleft {
	margin-right: 1.5em;
}
.wp-caption.alignright {
	margin-left: 1.5em;
}
.wp-caption img {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	color: #333;
	font-size: 11px;
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

/* End captions */